/* body{
    background-color: blue !important;
} */
/* .rect1{
    background-color:rgb(210, 180, 11);
    height:170px;
    width:9.9vw;
    margin-top:40vh;
    margin-left:0px;
    position:absolute;
}
.rect2{
    position:absolute;
    background-color:rgb(210, 180, 11);
    height:170px;
    width:9.7vw;
    margin-top:18vh;
    right:0;
} */

.outer{
    display:grid;
    grid-template-columns: 4fr 1.3fr;
    gap:0px;
}
.right{
    display:flex;
    flex-direction: column;
}
.main{
    background-color:white;
    width:75vw;
    height:70vh;
    margin-top:6%;
    margin-left:1%;
    border: grey 0.2px solid;
    border-radius:35px;
}
.initial{
    position:absolute;
    width:30vw;
    height:60vh;
    border-radius: 50%;
    border-width: thin;
    border-color: black;
    background-color:rgb(145, 140, 140);
    margin-left:4%;
    margin-top:2%;
    margin-right:4%;
    margin-bottom:2%;
    padding-bottom: 25%;
}
#initial{
    color:white;
    font-size:450px;
    font-weight:800;
    text-align: center; 
    transform: translate(0, -60px);
    font-family:     'Montserrat', sans-serif;
}
.info{
    /* background-color: pink; */
    height:60vh;
    width:35vw;
    position:absolute;
    margin-top:3%;
    margin-left:40%
}
.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top:10%

}
/* .container>*{
    border:1px solid black;
} */
.item{
    font-weight:bold;
    font-size:18px;
}
.black{
    background-color:black;
    margin-top:25vh;
    padding-bottom:5vh;
    
}
.flex{
    display:flex;
    flex-direction:column;
    text-align: center;
}
#withdraw{
    margin-top:9vh;
    margin-left:0.4vw;
    margin-bottom:1vh;
    border-radius:200px;
}
#withdraw:hover{
    cursor: pointer;
    
}
#deposit{
    margin-top:4vh;
    margin-left:0.4vw;
    margin-bottom:1vh;
    border-radius:200px;
}
#deposit:hover{
    cursor:pointer;
    
}
#myForm {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #myForm2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #inputField {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  button[type="submit"]:focus {
    outline: none;
  }
  #form{
    margin-top:10vh;
    margin-left:13vw;
  }
  .gridd{
    display:grid;
    grid-template-columns: 1fr 1fr;
  }